#dog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    content: url(images/dog.png);
}

#dog-2 {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    content: url(images/dog-2.png);
}

#dog-3 {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    content: url(images/dog-3.png);
}

#dog-4 {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    content: url(images/dog-4.png);
}

#dog-5 {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    content: url(images/dog-5.png);
}

