#dog {
    width: 300px;
    height:300px;
    border: 2px solid black;
    content: url(images/Dog.png);
}

#dog-2 {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    content: url(images/Dog-2.png);
}

#dog-3 {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    content: url(images/Dog-3.png);
}

#dog-4 {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    content: url(images/Dog-4.png);
}

#dog-5 {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    content: url(images/Dog-5.png);
}

